/* Desktop version */
@media screen and (max-width: 1100px){
    .main-container{
        max-width: 800px;
    }
    .header-container{
        grid-template-columns: 1fr 2fr 1fr;
    }
}

/* Tablet version */
@media screen and (max-width: 800px){
    .menu-bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-bar-icon{
        font-size: 22px;
    }
    .header-nav, .header-social-media{
        display: none;
    }
    .header-container{
        grid-template-columns: 1fr 10fr 1fr;
        padding: 40px 0;
}


/* Mobile version */